# PostgreSQL Connection URL
DATABASE_URL="postgresql://user:password@localhost:5432/dbname?sslmode=require"

# Redis Connection URL
REDIS_URL="rediss://default:token@host:6379"

# MongoDB Connection URL (Optional NoSQL Catalog Store)
MONGODB_URL="mongodb+srv://user:password@cluster.mongodb.net/"

# Elasticsearch Node (Optional Search Cluster)
# ELASTICSEARCH_NODE="http://localhost:9200"

# JWT Secret
JWT_SECRET="your-jwt-secret-key"
